
<ul>
<li>
  <%= task.title %>, to read: <%= task.deadline.strftime("%D") %>
  <!--<%= link_to "Supprimer", task_path(task.id), method: "DELETE", class:"fas fa-trash fa-lg", remote: true%>-->
  </li>
</ul>

